.paragraph {
    width: 300px;
}

.paragraph li {
    width: 100%;
}

span.index {
    float: left;
    padding-left: 5px;
    /* color: white; */
}

.form-control {
    width: 300px;
    margin: auto;
}

.del-btn {
    float: right;
    margin-top: -4px;
}

